<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Saira:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
        <title>Digital Nurse</title>
        <div id="visualizer"></div>
    </head>
<body>
   <h1>Digital Nurse</h1>
   <!-- <button
        type="button"
        class="btn btn-primary"
        onclick="setPatient()"
    >Set Patient
    </button>
    <button
        type="button"
        class="btn btn-primary"
        onclick="getPatient()"
    >Get Patient
    </button> -->
    <div class="buttons">
        <button
            type="button"
            class="btn btn-primary"
            onclick="startRecording()"
        >Activate Nurse
        </button>
        <button
            type="button"
            class="btn btn-primary"
            onclick="stopRecording()"
        >De-Activate Nurse
        </button>
    </div>
    <div class="nurseIndicator">
        Nurse Inactive
    </div>
    <div>
        <h2>Output Text</h2>
        <div class="outputText">

        </div>
    </div>
</body>
<script>
    let activateNurse = false;
    let nurseIndicator = document.querySelector(".nurseIndicator");
    var startRecording = async function() {
        activateNurse = true;
        nurseIndicator.innerHTML = "Nurse Active";
        nurseIndicator.style.background = "#96E6B3";
        while (activateNurse) {
            res = await fetch('/nurse')
            console.log(res)
            text = await res.text()
            console.log(text);
            if (text != "") {
                let wait_time = (text.length/(165*5) * 60) * 1000;
                let output_box = document.querySelector(".outputText");
                let output_text = ""
                for (let i = 0; i < text.length; i++) {
                    output_text += text[i];
                    output_box.innerHTML = output_text;
                    await new Promise(res => setTimeout(res, wait_time / text.length))
                }
                await new Promise(res => setTimeout(res, 2000));
            }
        }
    }
    var stopRecording = function() {
        activateNurse = false;
        nurseIndicator.innerHTML = "Nurse Inactive";
        nurseIndicator.style.background = "#D90429";
    }
    var setPatient = function() {
        fetch('/set_patient',)
    }
    var getPatient = function() {
        window.location.replace('/get_patient',)
    }
</script>
</html>
