<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Saira:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
        <title>Digital Nurse</title>
        <div id="visualizer"></div>
    </head>
<body>
   <h1>Digital Nurse</h1>
    <div class="buttons">
        <button
            type="button"
            class="btn btn-primary"
            onclick="startRecording()"
        >Activate Nurse
        </button>
        <button
            type="button"
            class="btn btn-primary"
            onclick="stopRecording()"
        >De-Activate Nurse
        </button>
    </div>
    <div class="nurseIndicator">
        Nurse Inactive
    </div>
    <div>
        <h2>Output Text</h2>
        <div class="outputText">

        </div>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename= 'script.js') }}"></script>
</html>
