<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
        <title>Digital Nurse</title>
        <div id="visualizer"></div>
    </head>
<body>
   <h1>Digital Nurse</h1>
   <button
        type="button"
        class="btn btn-primary"
        onclick="setPatient()"
    >Set Patient
    </button>
    <button
        type="button"
        class="btn btn-primary"
        onclick="getPatient()"
    >Get Patient
    </button>
    <div>
        <h1 id="output_text">SAMPLE</h1>
    </div>
</body>
<script>
    while (true) {
        fetch('/nurse').then(res => {
            return res.text()
        }).then(text => {
            console.log(text);
            if (text != "") {
                let output_box = document.querySelector("#output_text");
                output_box.innerHTML = text;
            }
        });
    }
    var setPatient = function() {
        fetch('/set_patient',)
    }
    var getPatient = function() {
        window.location.replace('/get_patient',)
    }
</script>
</html>
